.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  max-width: 21rem;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11rem;
  aspect-ratio: 1;
}

.icon {
  width: 6.4rem;
  aspect-ratio: 1;
}

.text {
  font-size: 2.2rem;
  line-height: 140%;
  letter-spacing: 0;
  color: var(--pale-color);
  text-align: center;
}
